body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: visible;
}

.main {
    position: relative;
    border: 0.5px solid #DFDFDF;
    width: 90%;
    margin: auto;
    margin-top: 1%;
    box-shadow: 0px 0.5px 0.5px 0.5px #DFDFDF;
    margin-bottom: 1%;
}

.skew {
    position: absolute;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.skew:after {
    content: '';
    position: absolute;
    height: 250px;
    width: 100%;
    background-color: #E7C0B7;
    transform-origin: top right;
    transform: skew(0, 13deg);
    z-index: 1;
    opacity: 0.8;
}

.skew:before {
    content: '';
    position: absolute;
    height: 300px;
    width: 40%;
    background-color: #8C919B;
    transform-origin: top left;
    transform: skew(0, -35deg);
    z-index: 1;
    opacity: 0.8;
}

.left {
    background: #DFDFDF;
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: inherit;
}

.logo img {
    position: relative;
    border: 1px solid;
    left: 22%;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    z-index: 2;
    border-color: #dfdfdf;
}

.leftcontainer,
.rightcontainer {
    position: absolute;
    top: 100px;
    width: 100%;
}

.leftheader {
    color: #253546;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: left;
    font-size: 17px;
    margin: 30px;
}

.right {
    position: absolute;
    width: 70%;
    right: 0;
    height: inherit;
}

.container {
    height: 1500px;
}

.leftcontent ul li,
.leftcontent ul li a {
    color: #293949;
    list-style: none;
    font-size: 14px;
    letter-spacing: 1px;
}

.leftcontent ul li a {
    text-decoration: none;
}

.namesection,
.rightheader,
.rightcontent {
    margin: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.namesection h1,
.namesection h3 {
    color: #D0826E;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.namesection h1 {
    font-size: 40px;
    font-weight: 600;
}

.namesection h3 {
    font-size: 15px;
    font-weight: 500;
}

.rightheader {
    color: #D0826E;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    text-align: left;
}

.divider {
    height: 5px;
    background-color: #dfdfdf;
    margin: 50px;
    margin-top: 0;
    margin-bottom: 0;
}